<div class='content-register'>

    <div class='btn-register' role='group' aria-label='Basic example'>
        <button type='button' class='btn btn-register_teacher'><a href='/register/teacher'> I am a teacher</a></button>
        <button type='button' class='btn btn-register_student'><a href='/register/student'> I am a student</a></button>
        <a class='comback' href='/'>has been account</a>
    </div>
</div>