<div class='content_post background_schdedule'>
    <div class='content_course'>
        <div class='header_course'>

            <div class='logo-app'>
                <img class='logo-app-image' src='/image/logo.png' />
            </div>
            <div class='user'>
                <div class='user-content'>
                    {{#each users}}
                        <p class='name'>
                            {{this.latsName}}
                            {{this.firstName}}
                        </p>
                    {{/each}}
                </div>
                <div class='user-icon'>

                    <P><i class='fas fa-home'></i></P>
                    <p><i class='fas fa-bell'></i></p>
                    <p><i class='fas fa-cog setting'></i></p>
                </div>

                <div class='content_setting_none'>
                    <div class='btn_logout'>
                        <a href='/' class='link_logout'>Log out</a>
                    </div>
                    <div class='btn_pass'>
                        <a href='/change-pass-word' class='link_changePass'>change pass</a>
                    </div>
                </div>
            </div>
        </div>

        <div class='sizebar'>
            <div class='btn sizebar-home home'>
                <button><a href='/user/home'>Home</a></button>

            </div>
            <div class='btn courses'>
                <button class='courses-btn'><a href='/post/home-work'>post Homework</a></button>
            </div>
            <div class='btn skills'>
                <button class='skills-btn'><a href='/post/document'>Post Documents</a></button>
            </div>
            <div class='btn grammar'>
                <button class='gammar-btn'><a href='/add'>Add Students</a></button>
            </div>
            <div class='btn vocabulary'>
                <button class='vocabulary-btn'><a href='/advice'>Advice</a></button>
            </div>
            <div class='btn schedule'>
                <button class='vocabulary-btn'><a href='/post/schedule'>Schedule</a></button>
            </div>
        </div>
    </div>
    <div class='content_post_schedule'>
        <form class='form schedule_post' method='POST' action='/post/schedule'>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Monday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeMonday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameMonday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkMonday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Tuesday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeTuesday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameTuesday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkTuesday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Wednesday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='times'
                        name='timeWednesday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameWednesday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkWednesday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Thursday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeThursday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameThursday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkThursday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Friday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeFriday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameFriday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkFriday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Saturday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeSaturday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameSaturday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkSaturday'
                />
            </div>
            <div class='content_shedule_post_input'>
                <div class='form-group input_schedule'>
                    <label>Day</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        value='Sunday'
                    />
                </div>
                <div class='form-group input_schedule'>
                    <label>Times</label>
                    <input
                        type='text'
                        class='form-control'
                        id='exampleInputEmail1'
                        aria-describedby='emailHelp'
                        placeholder='Times'
                        name='timeSunday'
                    />
                </div>
            </div>
            <div class='form-group'>
                <label>Cources</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Cources'
                    name='nameSunday'
                />
            </div>
            <div class='form-group'>
                <label>Link Join class</label>
                <input
                    type='text'
                    class='form-control'
                    id='exampleInputPassword1'
                    placeholder='Link Join class'
                    name='linkSunday'
                />
            </div>
            <div>
                <button type='submit' class='btn btn-primary'>Submit</button>
            </div>
        </form>
        <button class='btn'><a href='/update/schedule'>Update</a></button>
    </div>
</div>