<div class='content_course'>
    <div class='header_course'>

        <div class='logo-app'>
            <img class='logo-app-image' src='/image/logo.png' />
        </div>
        <div class='user'>
            <div class='user-content'>
                {{#each users}}
                    <p class='name'>
                        {{this.latsName}}
                        {{this.firstName}}
                        <i class='fas fa-chevron-down'></i>
                    </p>
                {{/each}}
            </div>
            <div class='user-icon'>

                <P><i class='fas fa-home'></i></P>
                <p><i class='fas fa-bell'></i></p>
                <p><i class='fas fa-cog'></i></p>
            </div>
        </div>
    </div>

    <div class='sizebar'>
        <div class='btn sizebar-home home'>
            <button><a href='/user/home'>Home</a></button>
        </div>
        <div class='btn courses'>
            <button class='courses-btn'><a href=''>Online Courses</a></button>
            <div class='more-courses'>
                <button><a href='/schedule'>schedule</a></button>
                <button><a href='/live-course'>live online classes</a></button>
                <button><a href='/ielts'>IELTS online courses</a></button>
            </div>
        </div>
        <div class='btn skills'>
            <button class='skills-btn'><a href='/skills'>Skills</a></button>
            <div class='more-skills'>
                <button><a href='/skills/listening'>Listening</a></button>
                <button><a href='/skills/speaking'>Speaking</a></button>
                <button><a href='/skills/reading'>Reading</a></button>
                <button><a href='/skills/writting'>Writting</a></button>
            </div>
        </div>
        <div class='btn grammar'>
            <button class='gammar-btn'><a href='/grammar'>Grammar</a></button>
            <div class='more-grammar'>
                <button><a href='/grammar/a1-a2-grammar'>A1-A2 grammar</a></button>
                <button><a href='/grammar/b1-b2-grammar'>B1-B2 grammar</a></button>
                <button><a href='/grammar/different-grammar'>DIfferent grammar</a></button>
            </div>
        </div>
        <div class='btn vocabulary'>
            <button class='vocabulary-btn'><a href='/vocabulary'>Vocabulary</a></button>
            <div class='more-vocabulary'>
                <button><a href='/vocabulary/a1-a2-vocabulary'>A1-A2 vocabulary</a></button>
                <button><a href='/vocabulary/b1-b2-vocabulary'>B1-B2 vocabulary</a></button>
                <button><a href='/vocabulary/different-vocabulary'>DIfferent vocabulary</a></button>
            </div>
        </div>
    </div>
</div>