.content_course {
    width: 100%;
    background-color: #337ab7;
}
.logo-app {
    width: 700px;
    height: 100%;
}
.header_course {
    width: 1200px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    font-size: 1.2rem;
    color: #fff;
}
.user-content {
    display: flex;
    line-height: 46px;
    width: 300px;
}
.user-icon {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.user-icon p {
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    font-size: 1.4rem;
}
.content_setting_none {
    position: absolute;
    border: 1px solid #000;
    top: 39px;
    right: 97px;
    overflow: hidden;
    display: none;
}
.content_setting_block {
    display: block;
}
.btn_logout,
.btn_pass {
    width: 100%;
    border: none;
    padding: 2px 8px;
    position: relative;
    color: #fff;
    letter-spacing: 4px;
    transition: 0.2s;
    background-color: #f1f1f1;
}
.btn_pass:hover,
.btn_logout:hover {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
}
.link_changePass {
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
}

.link_logout {
    width: 100%;
    padding: 0 30px;
    text-decoration: none;
    text-align: none;
}
.logo-app-image {
    width: 100px;
    height: 50px;
    background-size: cover;
}
.sizebar {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
}
.sizebar .btn {
    width: 160px;
    height: 42px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sizebar div button {
    border: none;
}
.sizebar button a {
    font-size: 1rem;
    text-decoration: none;
    color: #23085a;
}
/* courses */
.courses {
}
.skills-btn,
.courses-btn {
    position: relative;
}
.vocabulary:hover .more-vocabulary,
.grammar:hover .more-grammar,
.skills:hover .more-skills,
.courses:hover .more-courses {
    display: block;
}
.more-vocabulary,
.more-grammar,
.more-skills,
.more-courses {
    position: absolute;
    padding: 10px 10px;
    width: 159px;
    top: 109px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 20px;
    display: none;
}
.more-vocabulary button,
.more-grammar button,
.more-skills button,
.more-courses button {
    color: #000;
    width: 100%;
    height: 30px;
    padding: 8px 0;
}
.more-vocabulary button:hover,
.more-grammar button:hover,
.more-skills button:hover,
.more-courses button:hover {
    opacity: 0.5;
}
/* handle active */
